@use '../../styles/variables' as v;

.header {
  padding: v.$halfGutter v.$gutter;
  box-shadow: 0 20px 20px -30px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  &-logo {
    width: 50px;
  }
  .error {
    color: red;
    font-size: 0.8em;
    font-style: italic;
  }
}
